<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Lista de Compras</h3>
        </div>
    </div>
    <hr />
    <!-- A diretriz *ngFor vai replicar este componente pra cada item da minha lista-->
    <div class="row lista" *ngFor="let ITEM of listas">
        <div class="col-4"> {{ ITEM.data}} </div>
        <div class="col-8"><a [routerLink]="['/detalhe',ITEM.id]">{{ ITEM.nomeMercado }} R${{ ITEM.valorTotal}} </a></div>
    </div>
</div>

<div id="botaoNovaLista">
        
</div>

<!--Modal para inclusão de Nova Lista-->
<!-- Button trigger modal -->
<button type="button" id="botaoNovaLista" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <i class="fa-solid fa-plus fa-2x"></i>
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">INCLUIR NOVA LISTA</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <!-- Todo o componente tem HTML e TypeScript
             O que está em TypeScript, eu posso passar para o HTML por {{ EXEMPLO.exemplo }}
             Ou por [(ngModel)].
             Quando eu uso o operador [], eu digo que é algo do TypeScript para o HTML. 
             Como se fosse um operador de Leitura
             O () é do HTML para o TypeScript.
             Quando eu uso este modelo, eu faço uma ligação de forma que um atinge o outro e vice-versa -->
            <label for="txtData" class="form-label">Data da Compra:</label>
            <input type="date" class="form-control" id="txtData" [(ngModel)]="novaLista.data">
          </div>
          <div class="mb-3">
            <label for="txtLocal" class="form-label">Nome do Mercado:</label>
            <input type="text" class="form-control" id="txtLocal" [(ngModel)]="novaLista.nomeMercado">
          </div>
          <div class="mb-3">
            <label for="txtValorTotal" class="form-label">Orçamento/Valor Total:</label>
            <input type="number" class="form-control" id="txtValorTotal" [(ngModel)]="novaLista.valorTotal">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
          <button type="button" class="btn btn-sucess" data-bs-dismiss="modal" (click)="cadastrarLista()">ARMAZENAR</button>
        </div>
      </div>
    </div>
  </div>